.dashboard{
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: absolute;

}
.dashboardContainer{
    border-left: 1px solid black;
    background-color: rgb(255, 255, 255);
}
.dashboardContainer>h1{
    color: black;
    font-size: 2rem;
    font-weight: 300;
    margin: auto;
    padding: 1.5rem;
    width: 50%;
    text-align: center;

}
.dashboardSummary{
    margin: 2rem 0;
}
.dashboardSummary>div{
    display: flex;
    justify-content: center;
    background-color: white;
}
.dashboardSummary>div>p{
    background-color: rgba(70, 117, 218, 0.932);
    color: white;
    margin: 0 2rem;
    width: 100%;
    padding: 1.5rem;
    text-align: center;

}
.dashboardSummarBox2>a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    display: flex;
    background-color: wheat;
    border-radius: 100%;
    margin: 2rem;
    height: 10rem;
    width: 10rem;
    text-align: center;
}
.dashboardSummarBox2>a:first-child{
    background-color: tomato;
    color: white;
}
.dashboardSummarBox2>a:last-child{
    background-color:rgba(51, 51, 51);
    color: white;
}
.lineChart{
    width: 80%;
    margin: auto;
}
.donutChart{
    width: 50%;
    margin: auto;
}

@media screen and (max-width:600px) {
    .dashboard{
      
        grid-template-columns: 1fr ;
       width: 100vw;
       max-width: 100%;
    
    }
    .dashboardContainer{
        border-left:none;
        width: 100vw;
        max-width: 100%;
       
     
    }
    .dashboardContainer>h1{
        font-size: 2rem;
    }
    .dashboardSummary>div>p{
      
        padding: 1rem;
       margin: 1rem;
       font-size: 1.2rem;
    
    }
    .dashboardSummarBox2>a{
        font-size: 1.5rem;
      
       
        padding: 1.5rem;
       
        border-radius: 100%;
        /* margin: 21rem; */
        height:18vw;
        width: 18vw;
        text-align: center;
    }
    .dashboardSummarBox2>a>p{
        font-size: .8rem;
        padding: 0;
        margin: 0;
    }
 .lineChart{
    width: 85%;
 }
}