.productDetails{
    /* background-color: rgb(214, 205, 205); */
    width: 100vw;
    max-width: 100%;
    padding: 6vmax;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    
}
.productDetails>div{
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vmax;
    box-sizing: border-box;
    border: 1px solid white;
}
.productDetails>div:last-child{
    align-items: flex-start;
}
.caro{
   
    display: flex;
    flex-direction: column;
    
    text-align: center;
}
.CarouselImage{
    width: 20vmax;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    border: 1px solid black;
}
.productDetails> img{
    width: 100px;
}
.detailsBlock-1>h2{
    color:rgb(54,54,54);
    font:600 1.6vmax 

}
.detailsBlock-1>p{
    color: rgba(54,54,0.582);
    font:20 0.6nmax cursive
}
.detailsBlock-2{
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 70%;
    padding: 1vmax 0;

}
/* .detailsBlock-2>span{
    color:rgba(54, 54, 54, 0.582);
    font: 200 0.6vmax cursive;
} */
.detailsBlock-2-span{
    font: 200 1.2vmax cursive;
    color: rgba(0, 0, 0, 0.459);
}
.detailsBlock-3>h1{
    color: rgba(17, 17, 17, 0.795);
    font: 400 1.8vmax "Franklin Gothic Medium";
    margin: 1vmax 0;
}
.detailsBlock-3-1{
    display: flex;
    align-items: center;
}
.detailsBlock-3-1-1>button{
    border:none;
    background-color: rgba(0, 0, 0, 0.658);
    padding: 0.5vmax;
    cursor: pointer;
    color: white;
    transition: all 0.5s;

}
.detailsBlock-3-1-1>button:hover{
    background-color: rgba(97, 81, 81, 0.6);
    
}
.detailsBlock-3-1-1>input{
    border: none;
    padding: 0.5vmax;
    width: 3vmax;
    text-align: center;
    outline: none;
    font: 400 0.4vmax ;
}
/* .detailsBlock-3-1>button:last-child{
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: tomato;
    font: 500 0.7vmax "Franklin";
    border-radius: 20px;
    padding: 1vmax 2vmax;
    margin: 1vmax;
} */
.addToCartActive{
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: tomato;
    font: 500 0.7vmax "Franklin";
    border-radius: 20px;
    padding: 1vmax 2vmax;
    margin: 1vmax;
}
.addToCartDisabled{
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: rgb(163, 151, 149);
    font: 500 0.7vmax "Franklin";
    border-radius: 20px;
    padding: 1vmax 2vmax;
    margin: 1vmax;
}
.addToCartActive:hover{
background-color: rgba(214, 84, 61);
}
.detailsBlock-3 >p {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 1vmax 0;
    color: black;
    width: 70%;
}
.detalisBlock-4{
    color: rgba(0, 0, 0, 0.897);
    font: 500 1.2vmax sans-serif;
}
.detalisBlock-4>p{
    color: rgba(0, 0, 0, 0.418);
    font: 300 0.8vmax sans-sarif;
    margin-top: .1vmax
}
.submitReview{
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: tomato;
    font: 500 0.7vmax "Franklin";
    border-radius: 20px;
    padding: 1vmax 2vmax;
    margin: 1vmax;
    transition: all .5s;
}
.submitReview:hover{
    background-color: rgba(214, 84, 61);
    transform: scale(1.1);
}

.submitDialog{
    display: flex;
    flex-direction: column;
}
.submitDialogTextArea{
    border: 1px solid black;
    margin: 1vmax 0;
    outline: none;
    pad: 1rem;
    font-size: 1rem;
}
.reviewHeading{
    color: black;
    font: 500;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-bottom: 4vmax;
}
.reviews{
    display: flex;
    overflow: auto;
}
.reviewCard{
    flex: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
    border:1px solid rgba(56, 56, 56, 0.116);
    width: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 3vmax;
}
.reviewCard>img{
    width: 5vmax;
}
.reviewCard>p{
    color: rgba(0, 0, 0, 0.836);
    font: 600 0.9vmax;
}
reviewCardComment{
    color: rgba(0 , 0, 0, 0.445);
    font: 400 0.9vmax cursive ; 
}
.noReviews{
    font: 300 1.1vmax "Gill Sans";
    text-align: center;
    color: rgba(0, 0, 0, 0.548);
}

@media screen and (max-width:600px) {
    .productDetails{
        flex-direction: column;
        /* height: unset; */
    }
    .productDetails>div:last-child{
        display: flex;
        align-items: center;
        /* background-color: aliceblue; */
        justify-content: center;
        /* text-align: center; */
        /* background-color: green; */
        /* border: 1px solid black; */
    }
    .detailsBlock-3 >p{
        width:25vmax;
    }
    .detailsBlock-1>h2{
        font-size: 2.8vmax;
        text-align: center;
    }
    .detailsBlock-1>p{
        text-align: center;
        font-size: 1vmax;
    }
    .detailsBlock-2{
        justify-content: center;
    }
    .detailsBlock-2> span{
        font-size: 1.5vmax;
    }
    .detailsBlock-3>h1{
        font: 700 3vmax ;
        text-align: center;
    }
    .detailsBlock-3-1{
        flex-direction: column;

    }
    .detailsBlock-3-1-1{
        padding: 2vmax 0;
    }
    .detailsBlock-3-1-1> button{
        padding: 1.2vmax;
        width: 4vmax;
    }
    .detailsBlock-3-1-1>input{
        padding: 1.2vmax;
        width: 4vmax;
    }
    .addToCartActive{
        font-size: 1.8vmax;
        padding: 1.5vmax 0;
        width: 20vmax;
        margin: 3vmax 0;
    }
    .addToCartDisabled{
        font-size: 1.8vmax;
        padding: 1.5vmax 0;
        width: 20vmax;
        margin: 3vmax 0;
    }
    .detailsBlock-3>p{
        padding: 2.5vmax 0;
        text-align: center;
        font: 400 2vmax ;
    }
    .detalisBlock-4{
        font:500 2.5vmax sans-serif;
        font-size: 2vmax;
    }
    .detalisBlock-4>p{
        font-size: 1vmax;
        margin-top: .5vmax;
    }
    .submitReview{
        font-size: 1.8vmax;
        padding: 1.5vmax 0;
        width: 20vmax;
        margin: 3vmax 0;
    }
}